body{
    background-color: brown;
    
}
.container{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size:18px;
margin: 20px;
}
/* .castle,.district,.city img{
    padding-top: 20px
} */
.foreignL{
 padding-top: 20px;   
}
.header .main{
width: 100%;
margin:20px;
font-size: 2.5em;
}
.header .img1{
    width:100%;
    margin:20px;
    clear: both;
}
.heading h3{
    text-decoration: underline;
}
.heading p{
    margin: 15px;
}
.city-name img{
    width: 50%;
    padding-right:15px ;
}
th,td{
    border: solid;
    border-collapse: collapse; 
    width: 50%; 
}
table {
    width: 100%; 
    border-collapse: collapse;
}
.castle{
margin:-20px;  
padding-left: 40px;  
}
.city img,.district,.castle{
    padding-top: 100px;
}
/*.castle,.facts,.cityhall,.city img{
padding-left:20px ;    
}
*/
.facts,.cityhall{
    padding-top:20px ;
}
.section p{
    margin: -20px;
}
/*.place1{
padding-left: 20px;    
}
*/
.place1, .place2,.place3{
    display:flex;
}
.facts h4{
    padding-left: 1em;
    padding-top:-60px;
}
.facts p{
    padding-left:60px;
    margin: -16px;
}
.district{
    padding-left: 40px;
    margin: -16px;
}
.cityhall{
margin:-16px ;  
padding-left: 60px;  
}
.city img{
    margin: -17px;
    padding-left:40px ;
}
.Histo h4{
    font-size: 20px;
}
@media(min-width:800px){
  .city-name img{
      width:15%;
      float: left;
  }
  .main{
      width:50%;
    }
    .foreignL{
    clear: both;
    padding-top: 20px;
    }
    .header{
        display: flex;
    }
   /* .table{
        padding-top: 2px;
        
    }
    .heading h3{
        text-decoration: underline;
    }*/
    
}
@media(min-width:800px){
    .Histo{
    display: flex;
    justify-content: space-between;
    }
    .district{
        order:4;
    }
    .facts{
        order:3;
    }
    .facts h4{
        padding-left: 2em;
    }
    .cityhall h4{
        padding-left: 2em;
    }

    
}
/*@media(min-width:800px){
    .dot{
        float:left;
        width: 30%;
        margin: 20px;
        font-size: 20px;
        line-height: 18px;
    }
    .castle {
        float: right;
        padding-right: 125px;
     }
     .facts{
        float: left;
        width: 30%;
        padding-right: 125px;
        font-size: 20px;
        line-height: 18px;

    }
    .district {
        float: right;
        padding-left: 80px;
    }
    .cityhall{
        float: left;
        width: 30%;
        padding-right:125px;
        font-size: 20px;
        line-height: 18px;
    }
    .city img {
       float: right; 
       padding-left: 125px;
    }

}


/*


.container .main h1,header{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding: 40px;
font-size: 100px;
}
.container, .img1 img{
    padding: 20,0,0,40;
    display:  flex;
    font-size: 1000px;  
}
.img1{
    width:50%;
}
.main{
    width:50%;
}

section{
    padding:10px;
    margin: 0px;
}
.foreingL h1{
font-size: 100px;
}
.foreingL{
    font-size: 30px;
}
section p{
    padding-left: 600px;
    font-size: 25px;
    padding: 150px 10px;
    
}


header{
    font-size: 100px;
} */
/*#places{
    font-size: 21px;
    margin: 20px;
    padding: 10px;
}
*/
/*.castle img, .district img, .city img{
    float: left;  
    padding: 30px;
    margin:20px ;
    width:200px ;
}
.dot, .facts, .cityhall{
    float: left;
    margin: 20px;
    font-size: 20px;
    height:10px;
    width: 20px;
    text-align:left;

}

/*.city img{
    padding-left: 100px;
    
}

*/
/*.facts{
    padding: 30px;
}
.cityhall{
    padding: 30px;
}*/
/* @media (min-width:400px){
 
    
 
  
}



@media(max-width:400px){
    .dot{
        width:100%;
        font-size: 10px;
        line-height: 18px
    }
    .castle{
        float: right;
        padding:10px,10px,10px,10px;
     }
     .facts{
         width: 100%;
         float:right;
         font-size: 10px;
         line-height: 18px;
         padding-right: 60px;
     }
     .district{
         float:left;
         padding:10px,10px,10px,10px;
         padding-left: 20px;
         
     }
     .cityhall{
         width: 100%;
         float: left;
         font-size: 10px;
         line-height: 18px;
         
     }
     .city img{
        float: right; 
        padding:10px,10px,10px,10px;
     }
} */
/*@media (max-width:400px){
    .Durban{
        float: right;
        width: 100%;
    }
    .city-name{
        width: 100%;
        padding:10px,10px,10px,10px;
    }

}

@media(min-width:400px){
    .Durban{
        float:right;
        width: 50%;
        line-height: 22px;
    }
    .city-name{
        float:left;
        width: 50%;
    }
}*/
/*.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
*/
/* .city-name p{
font-size: 100px;
}
@media(max-width:400px){
    .main{
        width:50%;
        ;
    }
    .img1{
        width:50%;
        padding-left:500px;   
    }
} */


